{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="card bg-light mb-3 mt-5">
            <div class="card-body">
              <form class="form-horizontal" role="form" method="post">
                {% if error %}
                  <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                  </div>
                {% endif %}
                <div class="card-header mb-3">Please sign in</div>
                <div class="form-group">
                  <label for="username" class="col-md-4 control-label">
                    Username
                  </label>
                  <div class="col-md-12">
                    <input
                            id="inputUsername"
                            type="text"
                            class="form-control"
                            name="username"
                            value="{{ last_username }}"
                            required
                            autofocus
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-md-4 control-label">
                    Password
                  </label>
                  <div class="col-md-12">
                    <input
                            id="inputPassword"
                            type="password"
                            class="form-control"
                            name="password"
                            required
                    />
                  </div>
                </div>
                <input
                        type="hidden"
                        name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                />
                <div class="form-group">
                  <div class="col-md-12 pt-2">
                    <button type="submit" class="btn btn-primary">
                      Login
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12 pt-2">
                    <p>
                      Don't You have an account yet? <a href="{{ path('registration') }}">SIGN UP!</a>
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}